<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
	    <!-- 用户 -->
		<typeAlias type="com.zhiyou.pojo.User" alias="user"/>
		<!-- Course -->
		<typeAlias type="com.zhiyou.pojo.Course" alias="course"/>
		<!-- video -->
		<typeAlias type="com.zhiyou.pojo.Video" alias="video"/>
		<!-- speaker -->
		<typeAlias type="com.zhiyou.pojo.Speaker" alias="speaker"/>
	</typeAliases>
</configuration>	
