<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.zhiyou.dao.UserDao">
  	<resultMap type="user" id="userMap">
  		<id column="id" property="id"/>
  		<result column="accounts" property="accounts"/>
  		<result column="phone" property="phone"/>
  		<result column="password" property="password"/>
  		<result column="nickname" property="nickname"/>
  		<result column="sex" property="sex"/>
  		<result column="birthday" property="birthday"/>
  		<result column="address" property="address"/>
  		<result column="imgurl" property="imgurl"/>
  		<result column="createtime" property="createtime"/>
  	</resultMap>
  	<!-- 用户注册 -->
  	<insert id="addUser" parameterType="user">
  		insert into user values(null,#{accounts},#{phone},#{password},#{nickname},#{sex},#{birthday},#{address},#{imgurl},null)
  	</insert>
  	<!-- 用户登录 -->
  	<select id="selectByAccounts" resultMap="userMap">
  		select * from user where accounts=#{accounts}
  	</select>
  	<!-- 通过ID查询 -->
  	<select id="selectById" resultMap="userMap">
  		select * from user where id=#{id}
  	</select>
  	<!-- 修改资料 -->
  	<update id="updateUser" parameterType="user">    
  	    update user
		<set>
			<if test="phone!=null">
				phone=#{phone},
			</if>
			<if test="nickname!=null">
				nickname=#{nickname},
			</if>
			<if test="sex!=null">
				sex=#{sex},
			</if>
			<if test="birthday!=null">
				birthday=#{birthday},
			</if>
			<if test="address!=null">
				address=#{address},
			</if>
			<if test="imgurl!=null">
				imgurl=#{imgurl}
			</if>
		</set>
		where id= #{id}
  	</update>
  	
  	<!-- 密码修改 -->
  	<update id="updatePwd" parameterType="user">
  		update user set password=#{password} where accounts=#{account}
  	</update>
  	<select id="selectAll" parameterType="user" resultMap="userMap">
  		select * from user
  	</select>
  	<select id="selectAccounts" parameterType="user" resultMap="userMap">
  		select * from user where accounts=#{account}
  	</select>

  </mapper>
  